@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

body {
  line-height: 1.5;
  background: rgb(130, 130, 130);
  background: linear-gradient(
    123deg,
    rgba(130, 130, 130, 1) 0%,
    rgba(51, 51, 51, 1) 0%,
    rgba(22, 22, 22, 1) 100%
  );
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

:root {
  --p1: #2b4162;
  --p2: #385f71;
  --p3: #f5f0f6;
  --p4: #d7b377;
  --p5: #8f754f;
}

/* ============= GENERAL STYLES ================ */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
}

.text-light {
  color: var(--color-light);
}

/* ---------------- MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ---------------- MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
